<div style="background:#f8f8f8" bgcolor="#f8f8f8">
   <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="background:#f8f8f8" bgcolor="#f8f8f8">
      <tbody>
         <tr>
            <td height="20">&nbsp;</td>
         </tr>
         <tr>
            <td height="20">&nbsp;</td>
         </tr>
         <tr>
            <td valign="top">
               <table style="font-family:'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';border:1px solid #eaeff2;border-radius:3px" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="500">
                  <tbody>
                     <tr>
                        <td>
                           <table style="max-width:560px;font-family:'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';padding:0" cellpadding="0" cellspacing="0" border="0" align="center" width="500">
                              <tbody>
                                 <tr>
                                    <td valign="top" colspan="2" height="30">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td width="30">&nbsp;</td>
                                    <td valign="top" colspan="2">
                                       <br><br>
                                       <p style="margin-top:0;font-size:11pt;line-height:26px;color:#323b43">
                                          Hi {{names}},
                                       </p><br><br>
                                       <p style="margin-top:0;font-size:11pt;line-height:26px;color:#323b43">
                                          I would like to take the time to personally thank you for joining our beta. 
                                          That's why I want to make sure everything is in place for you to feel welcome and at home. On the slightest whim, please drop us a line <a style="color:#168eea"  href="mailto:hello@siqueries.com">hello@siqueries.com</a> or Tweet us <a href="http://twitter.com/siqueries" style="color:#168eea"  target="_blank">@siqueries</a>.
                                       </p>
                                       <p style="margin-top:0;font-size:11pt;line-height:26px;color:#323b43">
                                          <strong>
                                          Please click the following link below to confirm & activate your beta account
                                          </strong>
                                       </p>
                                      
                                       <p style="font-weight:400;font-size:11pt;line-height:30px;max-width:520px;margin:50px 0 50px; color:#323b43;padding-left:20px;display:block">
                                          
                                          <a rel="nofollow" style="font-size:15px;color:#f2f2f2;text-decoration:none;font-weight:bold;background:#268bd2;text-decoration:none;padding:16px 23px;margin-right:20px;border-bottom:3px solid;" target="_blank" href="http://{{request.host}}/s/verify/i/{{activation_hash}}">ACTIVATE MY ACCOUNT</a>
                                          <br>
                                       </p>
                                       
                                       <p></p><p></p><p></p>
                                    </td>
                                    <td width="30">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td width="30">&nbsp;</td>
                                    <td valign="top" colspan="2">
                                       <br>
                                       <div width="80" height="1" style="border-bottom:1px solid #eaeff2;width:80px;min-height:1px;margin-bottom:30px"></div>
                                    </td>
                                    <td width="30">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td width="30">&nbsp;</td>
                                    <td colspan="2">
                                       <p style="margin-top:12px;margin-left:0px;font-size:11pt;line-height:26px;color:#323b43;max-width:540px">Ebot & the SiQueries Team </p>
                                    </td>
                                    <td width="30">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td width="30">&nbsp;</td>
                                    <td colspan="2">
                                       <p style="margin-top:30px;font-size:11pt;line-height:26px;color:#8b959e">P.S. We're always around and love hearing from you. Please get in touch if you want to ask something or even just to say hello :)</p>
                                    </td>
                                    <td width="30">&nbsp;</td>
                                 </tr>
                                 <tr>
                                    <td valign="top" height="30" style="height:30px">&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <table style="margin-bottom:10px;font-family:'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';border-collapse:collapse" cellpadding="0" cellspacing="0" border="0" align="center" width="540">
                  <tbody>
                     <tr>
                        <td height="20">&nbsp;</td>
                     </tr>
                     <tr>
                        <td>
                           <p style="line-height:25px;font-size:9pt;color:#8b959e;text-decoration:none;text-align:center">
                              From the team at <a href="http://siqueries.com" style="color:#8b959e;text-decoration:underline" target="_blank">SiQueries</a>
                           </p>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td height="50">&nbsp;</td>
         </tr>
      </tbody>
   </table>
</div>
