<style>
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
    .form-atfooter {
        margin-top: 15px;
        padding: 14px 0 15px;
        /* text-align: right; */
        border-top: 1px solid #ddd;
    }
</style>

<div style="max-width: 512px; margin: 0 auto; margin-top:40px;" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Create analysis workflow.</h4>
    </div>
    <div class="panel-body">
        <form method="post" id="analysisForm">


            <div class="form-group">
                <label for="name" class="control-label">Analysis Name</label>
                <input type="text" id="name" name="name" placeholder="e.g. name for this dataset: Churn Dataset" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="dataset" class="control-label">Select Dataset</label>
                <select class="form-control" id="dataset" name="dataset">
                    <option></option>
                    {{#each datasets}}
                        <option value="{{attributes.id}}">{{attributes.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-atfooter">
                <button name="create" type="submit" id="submit-btn" class="btn btn-primary"><i class="fa fa-fw fa-bolt"></i> Create</button>
                <a href="/project/{{project_id}}/analysis" class="btn btn-default"><i class="fa fa-fw fa-reply"></i>
        Back to Analysis</a>

                <span id="notice" class="btn btn-link"></span>
            </div>



        </form>
    </div>
</div>