<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-message">
            <div style="margin: 5px 30px;" class="panel-body">
                <h4>There are no projects in this account.</h4>
                <p><a href="/project/add" class="bold">Start by creating one.</a>
                </p>
            </div>
        </div>
    </div>
</div>
